<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tjnutt.lying.mapper.KnowledgePointsMapper">

    <resultMap id="BaseResultMap" type="org.tjnutt.lying.entity.KnowledgePoints">
            <id property="knowledgeId" column="knowledge_id" jdbcType="VARCHAR"/>
            <result property="caseId" column="case_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        knowledge_id,case_id,content,
        created_at,updated_at
    </sql>
</mapper>
